@import "_nullstyle";

@font-face {
    font-family: "Pragmatica";
    src: local("Pragmatica-Light"), url("../../../fonts/Pragmatica-Light.woff") format("woff");
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: "Pragmatica";
    src: local("Pragmatica-Medium"), url("../../../fonts/Pragmatica-Medium.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Pragmatica";
    src: local("Pragmatica-Bold"), url("../../../fonts/Pragmatica-Bold.woff") format("woff");
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "Pragmatica Extended";
    src: local("PragmaticaExtended-Medium"), url("../../../fonts/PragmaticaExtended-Medium.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Pragmatica Extended";
    src: local("PragmaticaExtended-Light"), url("../../../fonts/PragmaticaExtended-Light.woff") format("woff");
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: "Tinos";
    src: local("Tinos"), url("../../../fonts/Tinos.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}
body {
    font-family: "Pragmatica";
    font-weight: 300;
    font-size: 18px;
}
h2 {
    font-size: 52px;
    font-size: calc(30px + (52 - 30) * ((100vw - 320px) / (1920 - 320)));
    line-height: 95%;
    letter-spacing: 0.01em;
    font-family: "Tinos";
    font-weight: 400;
    color: #3c3c3c;
    text-shadow: 0px 12.6087px 25.2174px rgba(0, 0, 0, 0.05);
}
.wrapper{
    overflow: hidden;
}
._conteiner {
    max-width: 1440px;
    margin: 0 auto;
}
@mixin center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

//==========HEADER=================
.header {
    font-size: 16px;
    font-weight: 300;
    line-height: 150%;
    letter-spacing: 0.06em;
    background-color: #17625d;
    a {
        color: white;
    }
    &__conteiner {
        display: flex;
        align-items: center;
    }
    &__item {
        margin-left: calc(20px + (63 - 20) * ((100vw - 1000px) / (1920 - 1000)));
        padding: 10px 0;
        ._icon-catalog::before {
            margin-right: 6px;
        }
    }
    &__catalog {
        margin: 5px 0;
    }
    &__catalog:hover,
    &__catalog:focus {
        span {
            text-decoration: underline;
        }
    }
    &__menu {
        margin-left: calc(20px + (126 - 20) * ((100vw - 1000px) / (1920 - 1000)));
        padding: 10px 0;
    }

    &__list {
        display: flex;
        align-items: center;
    }
    &__element {
        margin: 5px 0;
        margin-right: calc(25px + (45 - 25) * ((100vw - 1000px) / (1920 - 1000)));
    }
    &__element:nth-child(3) {
        margin-right: calc(25px + (37 - 25) * ((100vw - 1000px) / (1920 - 1000)));
    }
    &__element:last-child {
        margin-right: calc(18px + 40 * (100vw / 1920));
    }
    .basket {
        position: relative;
    }
    .basket-unit {
        content: "";
        position: absolute;
        padding: 1px 4px;
        height: fit-content;
        width: fit-content;
        line-height: 13px;
        font-size: 11px;
        display: flex;
        align-items: center;
        justify-content: center;
        top: -8px;
        right: -17px;
        border-radius: 50%;
        background: #ff8e7d;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    }

    &__link {
        white-space: nowrap;
        font-size: 14px;
        line-height: 171%;
        letter-spacing: 0.06em;
    }
    &__link::before {
        margin-right: 8px;
        font-size: 14px;
        max-width: 14px;
        display: inline-block;
    }
    &__link:hover,
    &__link:focus {
        span {
            text-decoration: underline;
        }
    }

    &__burger {
        min-width: 137px;
        height: 102px;
        background-color: #005d55;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media (min-width: 3000px) {
    .header__element {
        margin-right: 45px;
    }
    .header__menu {
        margin-left: 126px;
    }
    .header__item {
        margin-left: 63px;
    }
}
.logo {
    padding: 28px 0 26px;
    margin-left: 40px;
    &__item {
    }
    ._icon-uniE907::before {
        color: #d4ad67;
        font-size: 45px;
    }
}
.search-form {
    margin-left: calc(20px + (45 - 20) * ((100vw - 1000px) / (1920 - 1000)));
    position: relative;
    width: 100%;
    padding: 10px 0;
    flex: 1 1 auto;
    &__input {
        background-color: transparent;
        width: 100%;
        padding: 0 23px 2px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        color: white;
        font-size: 14px;
        font-weight: 300;
    }
    &__input::placeholder {
        color: white;
        font-size: 14px;
        font-weight: 300;
    }

    &__button {
        background-color: transparent;
    }
    ._icon-search {
        color: white;
        font-size: 13px;
        font-weight: 300;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        transition: 0.3s;
    }
    ._icon-search:hover,
    ._icon-search:focus {
        opacity: 0.5;
        transition: 0.3s;
    }
}
.burger-menu {
    position: relative;
    width: 61px;
    height: 22px;
    cursor: pointer;
    span {
        position: absolute;
        width: 28px;
        height: 2px;
        display: block;
        background-color: #fff;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        transition: all ease 0.5s;
    }
}
.burger-menu::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: 0px;
    background-color: #fff;
    transition: 0.5s;
}
.burger-menu::after {
    content: "";
    position: absolute;
    width: 42px;
    height: 2px;
    background-color: #fff;
    right: 0;
    bottom: 0px;
    transition: 0.5s;
}
.burger-menu.active {
    span {
        transform: scale(0);
        transition: all ease 1s;
        left: 0;
        right: 0;
        margin: auto;
    }
}
.burger-menu.active::before,
.burger-menu.active::after {
    width: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    transition: 0.5s;
}
.burger-menu.active::before {
    transform: rotate(-45deg);
}
.burger-menu.active::after {
    transform: rotate(45deg);
}
@media (max-width: 1375px) {
    .logo {
        margin: 0;
        padding: 0 0 0 20px;
    }
}
@media (max-width: 1020px) {
    .header__link {
        span {
            display: none;
        }
    }
    .header__element._compare {
        display: none;
    }
    .header__menu,
    .header__item,
    .search-form {
        margin-left: 30px;
    }
}
@media (max-width: 768px) {
    .header__element {
        display: none;
    }
}
@media (max-width: 610px) {
    ._icon-uniE907::before {
        font-size: 35px !important;
    }
    .search-form {
        margin-left: 20px;
    }
    .logo {
        padding: 10px 0 10px 20px;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .header__conteiner {
        height: 70px;
    }
    .header__item {
        display: none;
    }
    .header__burger {
        min-width: 80px;
        height: 100%;
    }
    .burger-menu {
        width: 41px;
    }
    .burger-menu::before {
        width: 41px;
        right: 0;
    }
    .burger-menu {
        span {
            width: 20px;
        }
    }
    .burger-menu::after {
        width: 31px;
    }
    .burger-menu.active::before,
    .burger-menu.active::after {
        width: 40px;
    }
}

//============TITLE-BLOCK=============
.title-block {
    background-color: #17625d;
    margin-top: -1px;
    &__conteiner {
        position: relative;
    }
    &__slider {
    }
}
.swiper-pagination {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    height: fit-content;
    padding-right: calc(20px + (60 - 20) * ((100vw - 1100px) / (1920 - 1100)));
    top: 0;
    bottom: 0;
    margin: auto;
    .swiper-pagination-bullet {
        width: 20px;
        height: 20px;
        background-color: transparent;
        position: relative;
        opacity: 1;
        cursor: pointer;
    }
    .swiper-pagination-bullet:not(:last-child) {
        margin-bottom: 23px;
    }
    .swiper-pagination-bullet-active {
        border: 1px solid #005d55;
    }
    .swiper-pagination-bullet::before {
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #005d55;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}
.slider-title {
    position: relative;
    &__wrapper {
    }

    &__slide {
        display: flex;
        padding: 115px 0 78px;
        position: relative;
    }
    &__fon {
        position: absolute;
        background: #f9f0e1;
        border-radius: 120px 0px 0px 0px;
        width: 66.8%;
        height: 100%;
        right: 0;
        top: 0;
    }

    &__image {
        display: flex;
        padding: 0 0 0 140px;
        position: relative;
        align-items: center;
        img {
            object-fit: contain;
        }
        .dostavshik {
            position: absolute;
            left: 69px;
            margin-top: 50px;
        }
    }

    &__items {
        margin-left: 80px;
        position: relative;
        padding: 10px 0 0 0;
    }

    &__logo {
    }

    &__text {
        margin-top: 58px;
        max-width: 427px;
        font-size: 18px;
        line-height: 117%;
        letter-spacing: 0.01em;
        font-weight: 300;
    }

    &__button {
        margin-top: 68px;
        border: 1px solid #d5ab71;
        width: fit-content;
        transform: translate(5px, 6px);
    }
    &__link {
        background-color: #d5ab71;
        padding: 13px 36px;
        color: white;
        font-size: 18px;
        line-height: 169%;
        letter-spacing: 0.02em;
        display: block;
        width: fit-content;
        transition: 0.4s;
        font-weight: 300;
        transform: translate(-5px, -6px);
    }
    &__link:hover {
        background-color: #d89560;
        transition: 0.4s;
    }
}
@media (max-width: 1375px) {
    .slider-title {
        &__image {
            padding: 0 0 0 90px;
            .dostavshik {
                left: 20px;
            }
        }
        &__items {
            margin-left: 20px;
        }
    }
}
@media (max-width: 1175px) {
    .slider-title {
        &__slide {
            padding: 50px 0 20px;
        }
        .slider-title__logo {
            svg {
                width: 350px;
            }
        }
        &__items {
            margin: 0;
            padding: 0;
            margin-left: -20px;
        }
        &__image {
            padding: 0 0 0 20px;
            img {
                transform: scale(0.8);
            }
            .dostavshik {
                z-index: 2;
            }
        }
    }
}
@media (max-width: 1050px) {
    .swiper-pagination {
        padding: 0 20px 0 0;
    }
}
@media (max-width: 1050px) {
    .title-block {
        padding: 0;
        .slider-title {
            &__slide {
                flex-direction: column;
            }
            &__items {
                margin-left: 0;
                width: 100%;
                padding: 0 0 0 60px;
            }
            .slider-title__fon {
                width: 100%;
            }
            &__image {
                padding: 0 0 0 20px;
                align-items: center;
                justify-content: center;
                order: 2;
                img {
                    transform: scale(1);
                    left: 100px;
                    left: calc(0px + (100 - 20) * ((100vw - 420px) / (1020 - 420)));
                }
            }
            &__text {
                margin-top: 20px;
            }
            &__button {
                margin-top: 30px;
            }
        }
    }
}
@media (max-width: 768px) {
    .title-block {
        .swiper-pagination {
            top: 43%;
        }
    }
    .slider-title {
        .slider-title__logo {
            margin-left: 20px;
            svg {
                width: 260px;
            }
        }
        &__slide {
            padding: 30px 0 20px;
        }
        &__items {
            padding: 0 20px !important;
        }
        &__image {
            margin-top: 20px;
            display: flex;
            .pogruzchick {
                max-width: 350px;
            }
            .dostavshik {
                width: 80px;
                position: static;
            }
        }
    }
}
@media (max-width: 610px) {
    .slider-title__image {
        align-items: flex-start;
        justify-content: flex-start !important;
    }
}
@media (max-width: 520px) {
    .slider-title {
        &__image {
            align-items: flex-end;
            justify-content: flex-start !important;
            padding: 30px 0 17px 20px !important;
        }
        .pogruzchick {
            max-width: 220px;
        }
        .dostavshik {
            width: 60px;
            position: static;
            margin-top: 10px;
        }
    }
}
@media (max-width: 400px) {
    .swiper-pagination {
        position: static;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: #f9f0e1;
        margin-top: -2px;
        padding: 10px 0;
        .swiper-pagination-bullet:not(:last-child) {
            margin: 0;
            margin-right: 10px;
        }
    }
}
//===============CONTACTS-BLOCK================
.contacts-block {
    margin-top: -2px;
    width: 100%;
    height: 105px;
    background: linear-gradient(90deg, rgb(213, 171, 113) 50%, rgb(23, 98, 93) 50%);
    height: calc(60px + (105 - 60) * ((100vw - 320px) / (1920 - 320)));
    &__conteiner {
        display: flex;
        align-items: center;
        height: 100%;
        background-color: #f9f0e1;
    }
    &__items {
        padding: 10px 52px;
        height: 100%;
        background: #0e5148;
        border-radius: 0px 40px 0px 0px;
        display: flex;
        align-items: center;
    }
    &__item {
        color: white;
        transition: 0.4s;
        font-size: 18px;
        line-height: 133%;
        letter-spacing: 0.06em;
        font-weight: 300;
        display: flex;
        align-items: center;
        span {
            margin-top: 5px;
        }
    }
    &__item:hover {
        opacity: 0.7;
        transition: 0.4s;
    }
    ._icon-catalog-big::before {
        margin-right: 15px;
        font-size: 30px;
    }
    &__scroll {
        height: 100%;
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: calc(20px + (58 - 20) * ((100vw - 1100px) / (1920 - 1100)));
        .scroll__link {
            padding: 0 9px;
        }
    }
}
.social {
    padding: 10px 45px;
    background-color: #d5ab71;
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    &__item {
        width: 35.5px;
        height: 35.5px;
        border: 0.75px solid #ffffff;
        box-sizing: border-box;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        transition: 0.4s;
        cursor: pointer;
    }
    &__item:not(:last-child) {
        margin-right: 13px;
    }
    &__item:hover {
        background-color: #fff;
        transition: 0.4s;
        svg {
            color: #d89560;
        }
    }
}
.social::after {
    position: absolute;
    content: "";
    right: -1px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 36px;
    width: 1px;
    background-color: #fff;
}
.contacts {
    display: flex;
    align-items: center;
    padding: 10px 45px 10px 48px;
    background-color: #d5ab71;
    height: 100%;
    &__item {
        color: white;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.01em;
        text-shadow: 0px 9.375px 18.75px rgba(0, 0, 0, 0.05);
        display: flex;
        align-items: center;
        transition: 0.4s;
        font-weight: 300;
    }
    &__item:hover {
        opacity: 0.7;
        transition: 0.4s;
    }
    &__item:not(:last-child) {
        margin-right: 40px;
    }
    ._icon-tel::before {
        font-size: 24px;
        margin-right: 11px;
    }
    ._icon-massage::before {
        font-size: 16px;
        margin-right: 14px;
    }
}
@media (max-width: 1100px) {
    .contacts-block__conteiner {
        .contacts,
        .scroll,
        .social,
        .contacts-block__items {
            padding: 10px 20px;
        }
    }
}
@media (max-width: 920px) {
    .contacts-block {
        height: fit-content;
        position: relative;
    }
    .contacts-block__conteiner {
        .scroll {
            position: absolute;
            right: 0px;
            top: -80px;
            z-index: 5;
        }
        .contacts {
            flex: 1 1 auto;
        }
        .social::after {
            display: none;
        }
        .contacts,
        .scroll,
        .social,
        .contacts-block__items {
            height: 70px;
            border-radius: 0;
        }
    }
}
@media (max-width: 820px) {
    .contacts-block__conteiner {
        flex-wrap: wrap;
        .contacts {
            flex: 1 1 100%;
            order: -1;
        }
        .contacts-block__items {
            flex: 1 1 auto;
        }
    }
}
@media (max-width: 520px) {
    .contacts-block__scroll {
        display: none;
    }
}
@media (max-width: 490px) {
    .contacts {
        flex-direction: column;
        align-items: flex-start;
        height: 90px !important;
        &__item:last-child {
            margin-top: 20px;
        }
    }
    .social,
    .contacts-block__items {
        flex: 1 1 50%;
    }
}
//===========PROGRESS============
.progress {
    padding: calc(54px + (161 - 54) * ((100vw - 320px) / (1920 - 320))) 20px 50px 0;
    &__conteiner {
        display: flex;
        position: relative;
        padding: 0 0 0 calc(20px + (100 - 20) * ((100vw - 1100px) / (1920 - 1100)));
    }

    &__items {
        flex: 0 1 50%;
        min-width: 0;
    }

    &__title {
    }

    &__description {
        margin-top: 45px;
        letter-spacing: 0.06em;
        color: #4e4e4e;
        font-size: 18px;
        line-height: 133%;
        font-family: "Pragmatica";
        max-width: 370px;
    }

    &__body {
        margin-top: 160px;
        font-family: "Pragmatica";
    }

    &__item:not(:last-child) {
        margin-bottom: 43px;
    }
    &__item:first-child {
        .progress__text {
            max-width: 250px;
        }
    }

    &__unit {
        letter-spacing: 0.06em;
        color: #01645c;
        font-size: 34px;
        line-height: 71%;
        display: flex;
        align-items: center;
        svg {
            margin-right: 17px;
        }
    }
    &__text {
        margin-top: 18px;
        letter-spacing: 0.06em;
        color: #4e4e4e;
        font-size: 16px;
        line-height: 125%;
        max-width: 390px;
        position: relative;
        z-index: 2;
    }

    &__map {
        position: absolute;
        right: 0;
        top: 20px;
    }
}
.popup {
    position: absolute;
    z-index: 50;
    width: 315px;
    background-color: #fff;
    padding: 26px 24px 29px;
    top: 0px;
    box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.2);
    display: none;
    text-align: left;
    &__title {
        font-size: 18px;
        line-height: 95%;
        letter-spacing: 0.01em;
        font-family: "Pragmatica Extended";
        font-weight: 300;
        color: black;
    }

    &__text {
        margin-top: 15px;
        font-size: 14px;
        line-height: 114%;
        color: #4e4e4e;
        letter-spacing: 0.06em;
    }

    &__link {
        margin-top: 26px;
        padding: 11px;
        width: 100%;
        border: 1px solid #006d64;
        box-sizing: border-box;
        display: block;
        color: #006d64;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        font-family: "Roboto";
    }
    &__link:hover {
        background: #006d64;
        color: white;
    }
}

.map {
    position: relative;
    text-align: center;
    width: fit-content;
    z-index: 2;
    svg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
    .location {
        color: rgba(254, 254, 254, 0.501961);
        opacity: 0;
        transition: all ease 0.3s;
        z-index: 2;
    }
}
.progress__map {
    padding: 0 0 50px 0;
}
.progress__map::before,
.progress__map::after {
    position: absolute;
    content: "";
    height: 53%;
    bottom: 0;
    z-index: 1;
}
.progress__map::before {
    left: 0;
    width: 52.5%;
    background: linear-gradient(109.28deg, #f9f9f9 4.97%, #fcfcfc 98.75%);
}
.progress__map::after {
    right: 0;
    width: 47.5%;
    height: 49%;
    background: linear-gradient(74.87deg, #ededed 1.39%, #f8f8f8 91%);
}
.progress {
    &__swiper {
        width: 100%;
        display: none;
        overflow: hidden;
        margin-top: calc(0px + (70 - 0) * ((100vw - 320px) / (890 - 320)));
        padding: 45px 0 0 0;
    }

    &__slide {
        background-color: #f9fbf5;
        padding: 0 20px 20px;
    }

    &__image {
        position: relative;
        padding: 0 0 80% 0;
        margin-top: calc(-10px + ((-20) + (-10)) * ((100vw - 320px) / (890 - 320)));
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__name {
        font-size: calc(12px + (20 - 12) * ((100vw - 320px) / (890 - 320)));
        letter-spacing: 0.06em;
        line-height: 200%;
        font-family: "Pragmatica";
        font-weight: 400;
        color: #4e4e4e;
        text-align: center;
        margin-top: 11px;
    }

    &__arrows {
        margin-top: 13px;
        color: #d4ae67;
        text-align: right;
        .progress-prev {
            margin-right: 27px;
        }
        .progress-prev.swiper-button-disabled,
        .progress-next.swiper-button-disabled {
            color: #e6e6e6;
        }
    }
}
@media (max-width: 1280px) {
    .progress__item:first-child {
        .progress__text {
            max-width: 200px;
        }
    }
}
@media (max-width: 1250px) {
    .progress {
        &__conteiner {
            padding: 0 0 0 calc(20px + (120 - 20) * ((100vw - 900px) / (1250 - 900)));
        }
        &__map {
            transform: scale(0.6) translate(330px, -180px);
            padding: 0 0 130px 0;
        }
        &__body {
            margin-top: 40px;
        }
        &__description {
            margin-top: 25px;
        }
    }
}
@media (max-width: 890px) {
    .progress {
        &__conteiner {
            padding: 0 0 0 20px;
        }
        &__map {
            display: none;
        }
        &__items {
            flex: 1 1 auto;
        }
        &__swiper {
            display: block;
        }
        &__item {
            background-color: #f4f4f4;
            padding: calc(15px + (40 - 15) * ((100vw - 320px) / (890 - 320)))
                calc(20px + (40 - 20) * ((100vw - 320px) / (890 - 320)));
            svg {
                width: 12px;
                height: 11px;
                margin-right: 10px;
            }
        }
        &__item:not(:last-child) {
            margin-bottom: calc(8px + (24 - 8) * ((100vw - 320px) / (890 - 320)));
        }
        &__unit {
            font-size: calc(20px + (34 - 20) * ((100vw - 320px) / (890 - 320)));
            line-height: 115%;
        }
        &__text {
            margin-top: calc(8px + (18 - 8) * ((100vw - 320px) / (890 - 320)));
            max-width: 100% !important;
            font-size: calc(12px + (18 - 12) * ((100vw - 320px) / (890 - 320)));
            font-weight: 400;
        }
        &__description {
            padding: 0 30px 0 0;
            font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (890 - 320)));
        }
    }
}
@media (max-width: 320px) {
    .progress__swiper {
        overflow: unset;
    }
}
//==========OUR-PRODUCT==========
.our-product {
    position: relative;
    margin-top: calc(40px + (113 - 40) * ((100vw - 320px) / (1920 - 320)));
    &__fon {
        width: 100%;
        position: absolute;
        bottom: 118px;
        height: calc(400px + (548 - 400) * ((100vw - 600px) / (1920 - 600)));
        background-color: #f9f0e1;
    }
    &__conteiner {
        max-width: 1116px;
        margin: 0 auto;
    }

    &__title {
    }

    &__body {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 20px;
        row-gap: 28px;
        position: relative;
        z-index: 2;
        margin-top: calc(30px + (67 - 30) * ((100vw - 320px) / (1920 - 320)));
    }

    &__item {
        padding: 10px calc(30px + (65 - 30) * ((100vw - 768px) / (1920 - 768)))
            calc(20px + (51 - 20) * ((100vw - 768px) / (1920 - 768)))
            calc(30px + (65 - 30) * ((100vw - 768px) / (1920 - 768)));
        flex: 0 1 calc(270px + (548 - 270) * ((100vw - 600px) / (1920 - 600)));
        text-align: center;
        background-color: #f9fbf5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        max-width: 548px;
    }
    &__item:nth-child(2),
    &__item:nth-child(4) {
        background-color: #f7fcfb;
    }

    &__logo {
        flex: 0 0 calc(120px + (187 - 120) * ((100vw - 600px) / (1920 - 600)));
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__description {
        font-size: calc(18px + (26 - 18) * ((100vw - 320px) / (1920 - 320)));
        line-height: 115%;
        letter-spacing: 0.04em;
        color: #3b3b3b;
    }

    &__link {
        display: block;
        border: 1px solid rgba(0, 0, 0, 0.07);
        box-sizing: border-box;
        border-radius: 2px;
        padding: 11px calc(16px + (35 - 16) * ((100vw - 600px) / (1920 - 600)));
        font-size: 18px;
        line-height: 133%;
        text-align: center;
        letter-spacing: 0.02em;
        color: #535353;
        font-family: "Pragmatica Extended";
        margin-top: calc(16px + (36 - 16) * ((100vw - 320px) / (1920 - 320)));
        transition: 0.4s;
        white-space: nowrap;
    }
    &__link:hover {
        opacity: 0.7;
        transition: 0.4s;
    }
}

.our-product__fon::before,
.our-product__fon::after {
    position: absolute;
    content: "";
    width: 50%;
    z-index: 1;
    height: 25px;
    top: -24px;
    background-color: #f0e3cd;
}
.our-product__fon::before {
    left: 18px;
    transform: skew(-57deg);
}
.our-product__fon::after {
    right: 19px;
    transform: skew(57deg);
}
.our-product-swiper {
    display: none;
}
@media (max-width: 1150px) {
    .our-product__title {
        padding: 0 0 0 20px;
    }
}

//===========ADVANTAGES==========
.advantages {
    margin-top: calc(64px + (164 - 64) * ((100vw - 320px) / (1920 - 320)));
    &__conteiner {
        overflow: hidden;
    }

    &__title {
        margin-left: calc(20px + (162 - 20) * ((100vw - 900px) / (1920 - 900)));
    }

    &__body {
        margin-top: calc(60px + (-60 - 60) * ((100vw - 320px) / (1920 - 320)));
        display: flex;
    }

    &__logo {
        margin-top: calc(47px + (147 - 47) * ((100vw - 320px) / (1920 - 320)));
        flex: 1 1 auto;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        height: fit-content;
        flex: 0 0 900px;
        padding: 0 0 0 calc(0px + (115 - 0) * ((100vw - 800px) / (1920 - 800)));
    }
    &__wrapper {
        flex: 1 1 50%;
        background-color: rgba(255, 255, 255, 0);
        padding: 20px calc(30px + (50 - 30) * ((100vw - 800px) / (1920 - 800))) 26px
            calc(30px + (50 - 30) * ((100vw - 800px) / (1920 - 800)));
    }
    &__wrapper:nth-child(1),
    &__wrapper:nth-child(3) {
        border-right: 1px solid #f9f9f9;
    }
    &__wrapper:nth-child(1),
    &__wrapper:nth-child(2) {
        border-bottom: 1px solid #f9f9f9;
    }

    &__item {
        height: 100%;
    }

    &__icon {
        width: 71px;
        height: 71px;
        background: #ffffff;
        border: 1px solid #f4f4f4;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__name {
        margin-top: 12px;
        color: #01645c;
        line-height: 117%;
        letter-spacing: 0.04em;
        font-weight: 700;
    }

    &__text {
        margin-top: 23px;
        letter-spacing: 0.06em;
        line-height: 117%;
    }
}
@media (max-width: 900px) {
    .advantages {
        position: relative;
        &__title {
            margin-left: 20px;
        }
        &__body {
            flex-direction: column;
            height: fit-content;
            margin-top: 30px;
        }
        &__wrapper {
            position: relative;
            z-index: 3;
            flex: 1 1 100%;
            max-width: 700px;
            border-right: 0;
            padding: 20px;
        }
        &__wrapper:nth-child(1),
        &__wrapper:nth-child(3) {
            border-right: 0px;
        }
        &__wrapper:not(:last-child) {
            border-bottom: 1px solid #cccccc;
        }
        &__logo {
            position: absolute;
            z-index: 1;
        }
    }
}

//===========WRITE-US=============
.write-us {
    margin-top: 116px;
    &__conteiner {
        position: relative;
    }
    &__fon1,
    &__fon2 {
        position: absolute;
    }

    &__fon1 {
        left: 0;
        top: -350px;
    }

    &__fon2 {
        right: 0;
        top: 50px;
    }

    &__body {
        max-width: 590px;
        margin: 0 auto;
    }

    &__title {
        text-align: center;
    }

    &__form {
    }

    &__agree {
    }

    &__button {
    }
}
.form-write {
    margin-top: 26px;
    text-align: center;
    position: relative;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    &__item {
        padding: 60px 20px 2px;
        border-bottom: 1px solid rgba(183, 183, 183, 0.2);
        text-align: center;
        input,
        input::placeholder {
            line-height: 122%;
            color: #252525;
            opacity: 0.9;
            font-size: 18px;
            text-align: center;
            font-weight: 300;
        }
        input {
            width: 100%;
            background-color: transparent;
        }
    }
    &__agree {
        letter-spacing: 0.06em;
        color: #000000;
        opacity: 0.15;
        font-size: 16px;
        line-height: 137%;
        margin-top: 83px;
    }
    &__button {
        border: 1px solid rgba(212, 173, 103, 0.3);
        width: 100%;
        padding: 19px;
        color: #d4ad67;
        line-height: 122%;
        margin-top: 23px;
        background-color: transparent;
        font-size: 18px;
        font-weight: 400;
        transition: 0.4s;
    }
    &__button:hover, &__button:focus{
        border: 1px solid rgba(212, 173, 103, 1);
        transition: 0.4s;
    }
}

//==============FOOTER=============
.footer {
    margin-top: 187px;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(1, 98, 90, 0.05) 48%, #01625a 48%);
    &__conteiner {
        display: flex;
    }

    &__contact {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        flex: 0 1 446px;
        padding: 38px calc(20px + (45 - 20) * ((100vw - 1100px) / (1920 - 1100))) 20px;
    }
    &__item, .polity{
        letter-spacing: 0.06em;
        font-size: 16px;
        color: #000000;
        line-height: 137%;
        opacity: 0.75;
        font-weight: 400;
    }
    &__item:last-child {
        opacity: 0.25;
    }
    &__wrapper {
        background-color: #01625a;
    }

    &__title {
        padding: 37px 0 0 calc(30px + (60 - 30) * ((100vw - 1100px) / (1920 - 1100)));
        h2 {
            color: white;
        }
    }

    &__body {
        display: flex;
        padding: 50px 32px 20px calc(30px + (65 - 20) * ((100vw - 1100px) / (1920 - 1100)));
    }

    &__list:not(:last-child) {
        margin-right: calc(20px + (50 - 20) * ((100vw - 1100px) / (1920 - 1100)));
        padding: 0 20px 0 0;
    }
    &__list._big {
        flex: 0 1 36%;
    }
    &__list:first-child{
        flex: 0 1 28%;
    }
    &__el:first-child {
        margin-bottom: 16px;
        color: #f1f1f1;
        font-weight: 700;
        font-size: 16px;
    }
    &__el:not(:last-child) {
        margin-bottom: 12px;
    }
    &__el._empty {
        visibility: hidden;
    }
    &__link {
        letter-spacing: 0.06em;
        color: #cecece;
        line-height: 143%;
        font-size: 14px;
        transition: 0.4s;
    }
    &__link:hover {
        opacity: 0.7;
        transition: 0.4s;
    }
    &__bottom {
        padding: 22px calc(20px + (32 - 20) * ((100vw - 480px) / (1920 - 480))) 22px calc(20px + (70 - 20) * ((100vw - 480px) / (1920 - 480)));
        background-color: #01544d;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    &__bottom::after{
        position: absolute;
        content: '';
        width: 200%;
        height: 100%;
        left: 100%;
        top: 0;
        background-color: #01544d;
    }
    &__social {
        display: flex;
    }

    &__image {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0.75px solid #d4ad67;
        color: #d4ad67;
        transition: 0.4s;
    }
    &__image:not(:last-child) {
        margin-right: 20px;
    }
    &__image:hover {
        background-color: #d4ad67;
        color: white;
        transition: 0.4s;
    }
    &__items {
        letter-spacing: 0.06em;
        font-size: 14px;
        color: #ffffff;
        opacity: 0.4;
        transition: 0.4s;
    }
    &__items:hover {
        opacity: 1;
        transition: 0.4s;
    }
}
@media(max-width:1120px){
    .footer{
        background: #fff;
        &__contact{
            background-color: rgba(1, 98, 90, 0.05);
        }
        &__body{
            padding: 40px 20px 20px 20px;
        }
        &__list, &__list._big, &__list:first-child{
            flex: 1 1 25%;
            margin: 0;
        }
    }
    .footer__conteiner{
        flex-direction: column;
    }
}
@media(max-width:768px){
    .footer{
        &__title{
            padding: 35px 20px 0px 20px;
        }
        &__contact{
            padding: 35px 20px 20px 20px;
        }
        &__body{
            flex-wrap: wrap;
            padding: 20px;
        }
        &__list{
            flex: 0 1 50% !important;
            padding: 0 10px 0 0 !important;
            margin: 0 !important;
            margin-top: 20px !important;
        }
        .footer__el._empty{
            display: none;
        }
    }
}
@media(max-width:480px){
    .footer{
        &__body{
            flex-direction: column;
        }
        &__list{
            flex: 1 1 100%;
        }
        &__bottom {
            flex-direction: column;
        }
        &__social{
            margin-bottom: 20px;
        }
    }
}