* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Pragmatica";
  src: local("Pragmatica-Light"), url("../../../fonts/Pragmatica-Light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Pragmatica";
  src: local("Pragmatica-Medium"), url("../../../fonts/Pragmatica-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Pragmatica";
  src: local("Pragmatica-Bold"), url("../../../fonts/Pragmatica-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Pragmatica Extended";
  src: local("PragmaticaExtended-Medium"), url("../../../fonts/PragmaticaExtended-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Pragmatica Extended";
  src: local("PragmaticaExtended-Light"), url("../../../fonts/PragmaticaExtended-Light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Tinos";
  src: local("Tinos"), url("../../../fonts/Tinos.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

body {
  font-family: "Pragmatica";
  font-weight: 300;
  font-size: 18px;
}

h2 {
  font-size: 52px;
  font-size: calc(30px + (52 - 30) * ((100vw - 320px) / (1920 - 320)));
  line-height: 95%;
  letter-spacing: 0.01em;
  font-family: "Tinos";
  font-weight: 400;
  color: #3c3c3c;
  text-shadow: 0px 12.6087px 25.2174px rgba(0, 0, 0, 0.05);
}

.wrapper {
  overflow: hidden;
}

._conteiner {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  font-size: 16px;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: 0.06em;
  background-color: #17625d;
}

.header a {
  color: white;
}

.header__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item {
  margin-left: calc(20px + (63 - 20) * ((100vw - 1000px) / (1920 - 1000)));
  padding: 10px 0;
}

.header__item ._icon-catalog::before {
  margin-right: 6px;
}

.header__catalog {
  margin: 5px 0;
}

.header__catalog:hover span, .header__catalog:focus span {
  text-decoration: underline;
}

.header__menu {
  margin-left: calc(20px + (126 - 20) * ((100vw - 1000px) / (1920 - 1000)));
  padding: 10px 0;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__element {
  margin: 5px 0;
  margin-right: calc(25px + (45 - 25) * ((100vw - 1000px) / (1920 - 1000)));
}

.header__element:nth-child(3) {
  margin-right: calc(25px + (37 - 25) * ((100vw - 1000px) / (1920 - 1000)));
}

.header__element:last-child {
  margin-right: calc(18px + 40 * (100vw / 1920));
}

.header .basket {
  position: relative;
}

.header .basket-unit {
  content: "";
  position: absolute;
  padding: 1px 4px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 13px;
  font-size: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: -8px;
  right: -17px;
  border-radius: 50%;
  background: #ff8e7d;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.header__link {
  white-space: nowrap;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.06em;
}

.header__link::before {
  margin-right: 8px;
  font-size: 14px;
  max-width: 14px;
  display: inline-block;
}

.header__link:hover span, .header__link:focus span {
  text-decoration: underline;
}

.header__burger {
  min-width: 137px;
  height: 102px;
  background-color: #005d55;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 3000px) {
  .header__element {
    margin-right: 45px;
  }
  .header__menu {
    margin-left: 126px;
  }
  .header__item {
    margin-left: 63px;
  }
}

.logo {
  padding: 28px 0 26px;
  margin-left: 40px;
}

.logo ._icon-uniE907::before {
  color: #d4ad67;
  font-size: 45px;
}

.search-form {
  margin-left: calc(20px + (45 - 20) * ((100vw - 1000px) / (1920 - 1000)));
  position: relative;
  width: 100%;
  padding: 10px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.search-form__input {
  background-color: transparent;
  width: 100%;
  padding: 0 23px 2px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  font-size: 14px;
  font-weight: 300;
}

.search-form__input::-webkit-input-placeholder {
  color: white;
  font-size: 14px;
  font-weight: 300;
}

.search-form__input:-ms-input-placeholder {
  color: white;
  font-size: 14px;
  font-weight: 300;
}

.search-form__input::-ms-input-placeholder {
  color: white;
  font-size: 14px;
  font-weight: 300;
}

.search-form__input::placeholder {
  color: white;
  font-size: 14px;
  font-weight: 300;
}

.search-form__button {
  background-color: transparent;
}

.search-form ._icon-search {
  color: white;
  font-size: 13px;
  font-weight: 300;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.search-form ._icon-search:hover,
.search-form ._icon-search:focus {
  opacity: 0.5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.burger-menu {
  position: relative;
  width: 61px;
  height: 22px;
  cursor: pointer;
}

.burger-menu span {
  position: absolute;
  width: 28px;
  height: 2px;
  display: block;
  background-color: #fff;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.burger-menu::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 0px;
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.burger-menu::after {
  content: "";
  position: absolute;
  width: 42px;
  height: 2px;
  background-color: #fff;
  right: 0;
  bottom: 0px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.burger-menu.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
  left: 0;
  right: 0;
  margin: auto;
}

.burger-menu.active::before,
.burger-menu.active::after {
  width: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.burger-menu.active::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.burger-menu.active::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media (max-width: 1375px) {
  .logo {
    margin: 0;
    padding: 0 0 0 20px;
  }
}

@media (max-width: 1020px) {
  .header__link span {
    display: none;
  }
  .header__element._compare {
    display: none;
  }
  .header__menu,
  .header__item,
  .search-form {
    margin-left: 30px;
  }
}

@media (max-width: 768px) {
  .header__element {
    display: none;
  }
}

@media (max-width: 610px) {
  ._icon-uniE907::before {
    font-size: 35px !important;
  }
  .search-form {
    margin-left: 20px;
  }
  .logo {
    padding: 10px 0 10px 20px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__conteiner {
    height: 70px;
  }
  .header__item {
    display: none;
  }
  .header__burger {
    min-width: 80px;
    height: 100%;
  }
  .burger-menu {
    width: 41px;
  }
  .burger-menu::before {
    width: 41px;
    right: 0;
  }
  .burger-menu span {
    width: 20px;
  }
  .burger-menu::after {
    width: 31px;
  }
  .burger-menu.active::before,
  .burger-menu.active::after {
    width: 40px;
  }
}

.title-block {
  background-color: #17625d;
  margin-top: -1px;
}

.title-block__conteiner {
  position: relative;
}

.swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-right: calc(20px + (60 - 20) * ((100vw - 1100px) / (1920 - 1100)));
  top: 0;
  bottom: 0;
  margin: auto;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  background-color: transparent;
  position: relative;
  opacity: 1;
  cursor: pointer;
}

.swiper-pagination .swiper-pagination-bullet:not(:last-child) {
  margin-bottom: 23px;
}

.swiper-pagination .swiper-pagination-bullet-active {
  border: 1px solid #005d55;
}

.swiper-pagination .swiper-pagination-bullet::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #005d55;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.slider-title {
  position: relative;
}

.slider-title__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 115px 0 78px;
  position: relative;
}

.slider-title__fon {
  position: absolute;
  background: #f9f0e1;
  border-radius: 120px 0px 0px 0px;
  width: 66.8%;
  height: 100%;
  right: 0;
  top: 0;
}

.slider-title__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 0 140px;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-title__image img {
  -o-object-fit: contain;
     object-fit: contain;
}

.slider-title__image .dostavshik {
  position: absolute;
  left: 69px;
  margin-top: 50px;
}

.slider-title__items {
  margin-left: 80px;
  position: relative;
  padding: 10px 0 0 0;
}

.slider-title__text {
  margin-top: 58px;
  max-width: 427px;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.01em;
  font-weight: 300;
}

.slider-title__button {
  margin-top: 68px;
  border: 1px solid #d5ab71;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transform: translate(5px, 6px);
          transform: translate(5px, 6px);
}

.slider-title__link {
  background-color: #d5ab71;
  padding: 13px 36px;
  color: white;
  font-size: 18px;
  line-height: 169%;
  letter-spacing: 0.02em;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-weight: 300;
  -webkit-transform: translate(-5px, -6px);
          transform: translate(-5px, -6px);
}

.slider-title__link:hover {
  background-color: #d89560;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media (max-width: 1375px) {
  .slider-title__image {
    padding: 0 0 0 90px;
  }
  .slider-title__image .dostavshik {
    left: 20px;
  }
  .slider-title__items {
    margin-left: 20px;
  }
}

@media (max-width: 1175px) {
  .slider-title__slide {
    padding: 50px 0 20px;
  }
  .slider-title .slider-title__logo svg {
    width: 350px;
  }
  .slider-title__items {
    margin: 0;
    padding: 0;
    margin-left: -20px;
  }
  .slider-title__image {
    padding: 0 0 0 20px;
  }
  .slider-title__image img {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .slider-title__image .dostavshik {
    z-index: 2;
  }
}

@media (max-width: 1050px) {
  .swiper-pagination {
    padding: 0 20px 0 0;
  }
}

@media (max-width: 1050px) {
  .title-block {
    padding: 0;
  }
  .title-block .slider-title__slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .title-block .slider-title__items {
    margin-left: 0;
    width: 100%;
    padding: 0 0 0 60px;
  }
  .title-block .slider-title .slider-title__fon {
    width: 100%;
  }
  .title-block .slider-title__image {
    padding: 0 0 0 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .title-block .slider-title__image img {
    -webkit-transform: scale(1);
            transform: scale(1);
    left: 100px;
    left: calc(0px + (100 - 20) * ((100vw - 420px) / (1020 - 420)));
  }
  .title-block .slider-title__text {
    margin-top: 20px;
  }
  .title-block .slider-title__button {
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  .title-block .swiper-pagination {
    top: 43%;
  }
  .slider-title .slider-title__logo {
    margin-left: 20px;
  }
  .slider-title .slider-title__logo svg {
    width: 260px;
  }
  .slider-title__slide {
    padding: 30px 0 20px;
  }
  .slider-title__items {
    padding: 0 20px !important;
  }
  .slider-title__image {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .slider-title__image .pogruzchick {
    max-width: 350px;
  }
  .slider-title__image .dostavshik {
    width: 80px;
    position: static;
  }
}

@media (max-width: 610px) {
  .slider-title__image {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
  }
}

@media (max-width: 520px) {
  .slider-title__image {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    padding: 30px 0 17px 20px !important;
  }
  .slider-title .pogruzchick {
    max-width: 220px;
  }
  .slider-title .dostavshik {
    width: 60px;
    position: static;
    margin-top: 10px;
  }
}

@media (max-width: 400px) {
  .swiper-pagination {
    position: static;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #f9f0e1;
    margin-top: -2px;
    padding: 10px 0;
  }
  .swiper-pagination .swiper-pagination-bullet:not(:last-child) {
    margin: 0;
    margin-right: 10px;
  }
}

.contacts-block {
  margin-top: -2px;
  width: 100%;
  height: 105px;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #d5ab71), color-stop(50%, #17625d));
  background: linear-gradient(90deg, #d5ab71 50%, #17625d 50%);
  height: calc(60px + (105 - 60) * ((100vw - 320px) / (1920 - 320)));
}

.contacts-block__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background-color: #f9f0e1;
}

.contacts-block__items {
  padding: 10px 52px;
  height: 100%;
  background: #0e5148;
  border-radius: 0px 40px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts-block__item {
  color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0.06em;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts-block__item span {
  margin-top: 5px;
}

.contacts-block__item:hover {
  opacity: 0.7;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.contacts-block ._icon-catalog-big::before {
  margin-right: 15px;
  font-size: 30px;
}

.contacts-block__scroll {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: calc(20px + (58 - 20) * ((100vw - 1100px) / (1920 - 1100)));
}

.contacts-block__scroll .scroll__link {
  padding: 0 9px;
}

.social {
  padding: 10px 45px;
  background-color: #d5ab71;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: relative;
}

.social__item {
  width: 35.5px;
  height: 35.5px;
  border: 0.75px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

.social__item:not(:last-child) {
  margin-right: 13px;
}

.social__item:hover {
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.social__item:hover svg {
  color: #d89560;
}

.social::after {
  position: absolute;
  content: "";
  right: -1px;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 36px;
  width: 1px;
  background-color: #fff;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 45px 10px 48px;
  background-color: #d5ab71;
  height: 100%;
}

.contacts__item {
  color: white;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.01em;
  text-shadow: 0px 9.375px 18.75px rgba(0, 0, 0, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-weight: 300;
}

.contacts__item:hover {
  opacity: 0.7;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.contacts__item:not(:last-child) {
  margin-right: 40px;
}

.contacts ._icon-tel::before {
  font-size: 24px;
  margin-right: 11px;
}

.contacts ._icon-massage::before {
  font-size: 16px;
  margin-right: 14px;
}

@media (max-width: 1100px) {
  .contacts-block__conteiner .contacts,
  .contacts-block__conteiner .scroll,
  .contacts-block__conteiner .social,
  .contacts-block__conteiner .contacts-block__items {
    padding: 10px 20px;
  }
}

@media (max-width: 920px) {
  .contacts-block {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: relative;
  }
  .contacts-block__conteiner .scroll {
    position: absolute;
    right: 0px;
    top: -80px;
    z-index: 5;
  }
  .contacts-block__conteiner .contacts {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .contacts-block__conteiner .social::after {
    display: none;
  }
  .contacts-block__conteiner .contacts,
  .contacts-block__conteiner .scroll,
  .contacts-block__conteiner .social,
  .contacts-block__conteiner .contacts-block__items {
    height: 70px;
    border-radius: 0;
  }
}

@media (max-width: 820px) {
  .contacts-block__conteiner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contacts-block__conteiner .contacts {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .contacts-block__conteiner .contacts-block__items {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

@media (max-width: 520px) {
  .contacts-block__scroll {
    display: none;
  }
}

@media (max-width: 490px) {
  .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 90px !important;
  }
  .contacts__item:last-child {
    margin-top: 20px;
  }
  .social,
  .contacts-block__items {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
}

.progress {
  padding: calc(54px + (161 - 54) * ((100vw - 320px) / (1920 - 320))) 20px 50px 0;
}

.progress__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 0 0 0 calc(20px + (100 - 20) * ((100vw - 1100px) / (1920 - 1100)));
}

.progress__items {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  min-width: 0;
}

.progress__description {
  margin-top: 45px;
  letter-spacing: 0.06em;
  color: #4e4e4e;
  font-size: 18px;
  line-height: 133%;
  font-family: "Pragmatica";
  max-width: 370px;
}

.progress__body {
  margin-top: 160px;
  font-family: "Pragmatica";
}

.progress__item:not(:last-child) {
  margin-bottom: 43px;
}

.progress__item:first-child .progress__text {
  max-width: 250px;
}

.progress__unit {
  letter-spacing: 0.06em;
  color: #01645c;
  font-size: 34px;
  line-height: 71%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.progress__unit svg {
  margin-right: 17px;
}

.progress__text {
  margin-top: 18px;
  letter-spacing: 0.06em;
  color: #4e4e4e;
  font-size: 16px;
  line-height: 125%;
  max-width: 390px;
  position: relative;
  z-index: 2;
}

.progress__map {
  position: absolute;
  right: 0;
  top: 20px;
}

.popup {
  position: absolute;
  z-index: 50;
  width: 315px;
  background-color: #fff;
  padding: 26px 24px 29px;
  top: 0px;
  -webkit-box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.2);
  display: none;
  text-align: left;
}

.popup__title {
  font-size: 18px;
  line-height: 95%;
  letter-spacing: 0.01em;
  font-family: "Pragmatica Extended";
  font-weight: 300;
  color: black;
}

.popup__text {
  margin-top: 15px;
  font-size: 14px;
  line-height: 114%;
  color: #4e4e4e;
  letter-spacing: 0.06em;
}

.popup__link {
  margin-top: 26px;
  padding: 11px;
  width: 100%;
  border: 1px solid #006d64;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  color: #006d64;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  font-family: "Roboto";
}

.popup__link:hover {
  background: #006d64;
  color: white;
}

.map {
  position: relative;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 2;
}

.map svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.map .location {
  color: rgba(254, 254, 254, 0.501961);
  opacity: 0;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  z-index: 2;
}

.progress__map {
  padding: 0 0 50px 0;
}

.progress__map::before,
.progress__map::after {
  position: absolute;
  content: "";
  height: 53%;
  bottom: 0;
  z-index: 1;
}

.progress__map::before {
  left: 0;
  width: 52.5%;
  background: linear-gradient(109.28deg, #f9f9f9 4.97%, #fcfcfc 98.75%);
}

.progress__map::after {
  right: 0;
  width: 47.5%;
  height: 49%;
  background: linear-gradient(74.87deg, #ededed 1.39%, #f8f8f8 91%);
}

.progress__swiper {
  width: 100%;
  display: none;
  overflow: hidden;
  margin-top: calc(0px + (70 - 0) * ((100vw - 320px) / (890 - 320)));
  padding: 45px 0 0 0;
}

.progress__slide {
  background-color: #f9fbf5;
  padding: 0 20px 20px;
}

.progress__image {
  position: relative;
  padding: 0 0 80% 0;
  margin-top: calc(-10px + ((-20) + (-10)) * ((100vw - 320px) / (890 - 320)));
}

.progress__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.progress__name {
  font-size: calc(12px + (20 - 12) * ((100vw - 320px) / (890 - 320)));
  letter-spacing: 0.06em;
  line-height: 200%;
  font-family: "Pragmatica";
  font-weight: 400;
  color: #4e4e4e;
  text-align: center;
  margin-top: 11px;
}

.progress__arrows {
  margin-top: 13px;
  color: #d4ae67;
  text-align: right;
}

.progress__arrows .progress-prev {
  margin-right: 27px;
}

.progress__arrows .progress-prev.swiper-button-disabled,
.progress__arrows .progress-next.swiper-button-disabled {
  color: #e6e6e6;
}

@media (max-width: 1280px) {
  .progress__item:first-child .progress__text {
    max-width: 200px;
  }
}

@media (max-width: 1250px) {
  .progress__conteiner {
    padding: 0 0 0 calc(20px + (120 - 20) * ((100vw - 900px) / (1250 - 900)));
  }
  .progress__map {
    -webkit-transform: scale(0.6) translate(330px, -180px);
            transform: scale(0.6) translate(330px, -180px);
    padding: 0 0 130px 0;
  }
  .progress__body {
    margin-top: 40px;
  }
  .progress__description {
    margin-top: 25px;
  }
}

@media (max-width: 890px) {
  .progress__conteiner {
    padding: 0 0 0 20px;
  }
  .progress__map {
    display: none;
  }
  .progress__items {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .progress__swiper {
    display: block;
  }
  .progress__item {
    background-color: #f4f4f4;
    padding: calc(15px + (40 - 15) * ((100vw - 320px) / (890 - 320))) calc(20px + (40 - 20) * ((100vw - 320px) / (890 - 320)));
  }
  .progress__item svg {
    width: 12px;
    height: 11px;
    margin-right: 10px;
  }
  .progress__item:not(:last-child) {
    margin-bottom: calc(8px + (24 - 8) * ((100vw - 320px) / (890 - 320)));
  }
  .progress__unit {
    font-size: calc(20px + (34 - 20) * ((100vw - 320px) / (890 - 320)));
    line-height: 115%;
  }
  .progress__text {
    margin-top: calc(8px + (18 - 8) * ((100vw - 320px) / (890 - 320)));
    max-width: 100% !important;
    font-size: calc(12px + (18 - 12) * ((100vw - 320px) / (890 - 320)));
    font-weight: 400;
  }
  .progress__description {
    padding: 0 30px 0 0;
    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (890 - 320)));
  }
}

@media (max-width: 320px) {
  .progress__swiper {
    overflow: unset;
  }
}

.our-product {
  position: relative;
  margin-top: calc(40px + (113 - 40) * ((100vw - 320px) / (1920 - 320)));
}

.our-product__fon {
  width: 100%;
  position: absolute;
  bottom: 118px;
  height: calc(400px + (548 - 400) * ((100vw - 600px) / (1920 - 600)));
  background-color: #f9f0e1;
}

.our-product__conteiner {
  max-width: 1116px;
  margin: 0 auto;
}

.our-product__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 28px;
  position: relative;
  z-index: 2;
  margin-top: calc(30px + (67 - 30) * ((100vw - 320px) / (1920 - 320)));
}

.our-product__item {
  padding: 10px calc(30px + (65 - 30) * ((100vw - 768px) / (1920 - 768))) calc(20px + (51 - 20) * ((100vw - 768px) / (1920 - 768))) calc(30px + (65 - 30) * ((100vw - 768px) / (1920 - 768)));
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(270px + (548 - 270) * ((100vw - 600px) / (1920 - 600)));
          flex: 0 1 calc(270px + (548 - 270) * ((100vw - 600px) / (1920 - 600)));
  text-align: center;
  background-color: #f9fbf5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 548px;
}

.our-product__item:nth-child(2), .our-product__item:nth-child(4) {
  background-color: #f7fcfb;
}

.our-product__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(120px + (187 - 120) * ((100vw - 600px) / (1920 - 600)));
          flex: 0 0 calc(120px + (187 - 120) * ((100vw - 600px) / (1920 - 600)));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our-product__description {
  font-size: calc(18px + (26 - 18) * ((100vw - 320px) / (1920 - 320)));
  line-height: 115%;
  letter-spacing: 0.04em;
  color: #3b3b3b;
}

.our-product__link {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.07);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  padding: 11px calc(16px + (35 - 16) * ((100vw - 600px) / (1920 - 600)));
  font-size: 18px;
  line-height: 133%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #535353;
  font-family: "Pragmatica Extended";
  margin-top: calc(16px + (36 - 16) * ((100vw - 320px) / (1920 - 320)));
  -webkit-transition: 0.4s;
  transition: 0.4s;
  white-space: nowrap;
}

.our-product__link:hover {
  opacity: 0.7;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.our-product__fon::before,
.our-product__fon::after {
  position: absolute;
  content: "";
  width: 50%;
  z-index: 1;
  height: 25px;
  top: -24px;
  background-color: #f0e3cd;
}

.our-product__fon::before {
  left: 18px;
  -webkit-transform: skew(-57deg);
          transform: skew(-57deg);
}

.our-product__fon::after {
  right: 19px;
  -webkit-transform: skew(57deg);
          transform: skew(57deg);
}

.our-product-swiper {
  display: none;
}

@media (max-width: 1150px) {
  .our-product__title {
    padding: 0 0 0 20px;
  }
}

.advantages {
  margin-top: calc(64px + (164 - 64) * ((100vw - 320px) / (1920 - 320)));
}

.advantages__conteiner {
  overflow: hidden;
}

.advantages__title {
  margin-left: calc(20px + (162 - 20) * ((100vw - 900px) / (1920 - 900)));
}

.advantages__body {
  margin-top: calc(60px + (-60 - 60) * ((100vw - 320px) / (1920 - 320)));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages__logo {
  margin-top: calc(47px + (147 - 47) * ((100vw - 320px) / (1920 - 320)));
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.advantages__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 900px;
          flex: 0 0 900px;
  padding: 0 0 0 calc(0px + (115 - 0) * ((100vw - 800px) / (1920 - 800)));
}

.advantages__wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  background-color: rgba(255, 255, 255, 0);
  padding: 20px calc(30px + (50 - 30) * ((100vw - 800px) / (1920 - 800))) 26px calc(30px + (50 - 30) * ((100vw - 800px) / (1920 - 800)));
}

.advantages__wrapper:nth-child(1), .advantages__wrapper:nth-child(3) {
  border-right: 1px solid #f9f9f9;
}

.advantages__wrapper:nth-child(1), .advantages__wrapper:nth-child(2) {
  border-bottom: 1px solid #f9f9f9;
}

.advantages__item {
  height: 100%;
}

.advantages__icon {
  width: 71px;
  height: 71px;
  background: #ffffff;
  border: 1px solid #f4f4f4;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advantages__name {
  margin-top: 12px;
  color: #01645c;
  line-height: 117%;
  letter-spacing: 0.04em;
  font-weight: 700;
}

.advantages__text {
  margin-top: 23px;
  letter-spacing: 0.06em;
  line-height: 117%;
}

@media (max-width: 900px) {
  .advantages {
    position: relative;
  }
  .advantages__title {
    margin-left: 20px;
  }
  .advantages__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 30px;
  }
  .advantages__wrapper {
    position: relative;
    z-index: 3;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    max-width: 700px;
    border-right: 0;
    padding: 20px;
  }
  .advantages__wrapper:nth-child(1), .advantages__wrapper:nth-child(3) {
    border-right: 0px;
  }
  .advantages__wrapper:not(:last-child) {
    border-bottom: 1px solid #cccccc;
  }
  .advantages__logo {
    position: absolute;
    z-index: 1;
  }
}

.write-us {
  margin-top: 116px;
}

.write-us__conteiner {
  position: relative;
}

.write-us__fon1, .write-us__fon2 {
  position: absolute;
}

.write-us__fon1 {
  left: 0;
  top: -350px;
}

.write-us__fon2 {
  right: 0;
  top: 50px;
}

.write-us__body {
  max-width: 590px;
  margin: 0 auto;
}

.write-us__title {
  text-align: center;
}

.form-write {
  margin-top: 26px;
  text-align: center;
  position: relative;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
}

.form-write__item {
  padding: 60px 20px 2px;
  border-bottom: 1px solid rgba(183, 183, 183, 0.2);
  text-align: center;
}

.form-write__item input,
.form-write__item input::-webkit-input-placeholder {
  line-height: 122%;
  color: #252525;
  opacity: 0.9;
  font-size: 18px;
  text-align: center;
  font-weight: 300;
}

.form-write__item input,
.form-write__item input:-ms-input-placeholder {
  line-height: 122%;
  color: #252525;
  opacity: 0.9;
  font-size: 18px;
  text-align: center;
  font-weight: 300;
}

.form-write__item input,
.form-write__item input::-ms-input-placeholder {
  line-height: 122%;
  color: #252525;
  opacity: 0.9;
  font-size: 18px;
  text-align: center;
  font-weight: 300;
}

.form-write__item input,
.form-write__item input::placeholder {
  line-height: 122%;
  color: #252525;
  opacity: 0.9;
  font-size: 18px;
  text-align: center;
  font-weight: 300;
}

.form-write__item input {
  width: 100%;
  background-color: transparent;
}

.form-write__agree {
  letter-spacing: 0.06em;
  color: #000000;
  opacity: 0.15;
  font-size: 16px;
  line-height: 137%;
  margin-top: 83px;
}

.form-write__button {
  border: 1px solid rgba(212, 173, 103, 0.3);
  width: 100%;
  padding: 19px;
  color: #d4ad67;
  line-height: 122%;
  margin-top: 23px;
  background-color: transparent;
  font-size: 18px;
  font-weight: 400;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.form-write__button:hover, .form-write__button:focus {
  border: 1px solid #d4ad67;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.footer {
  margin-top: 187px;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, color-stop(48%, rgba(1, 98, 90, 0.05)), color-stop(48%, #01625a));
  background: linear-gradient(90deg, rgba(1, 98, 90, 0.05) 48%, #01625a 48%);
}

.footer__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 446px;
          flex: 0 1 446px;
  padding: 38px calc(20px + (45 - 20) * ((100vw - 1100px) / (1920 - 1100))) 20px;
}

.footer__item, .footer .polity {
  letter-spacing: 0.06em;
  font-size: 16px;
  color: #000000;
  line-height: 137%;
  opacity: 0.75;
  font-weight: 400;
}

.footer__item:last-child {
  opacity: 0.25;
}

.footer__wrapper {
  background-color: #01625a;
}

.footer__title {
  padding: 37px 0 0 calc(30px + (60 - 30) * ((100vw - 1100px) / (1920 - 1100)));
}

.footer__title h2 {
  color: white;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 32px 20px calc(30px + (65 - 20) * ((100vw - 1100px) / (1920 - 1100)));
}

.footer__list:not(:last-child) {
  margin-right: calc(20px + (50 - 20) * ((100vw - 1100px) / (1920 - 1100)));
  padding: 0 20px 0 0;
}

.footer__list._big {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 36%;
          flex: 0 1 36%;
}

.footer__list:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 28%;
          flex: 0 1 28%;
}

.footer__el:first-child {
  margin-bottom: 16px;
  color: #f1f1f1;
  font-weight: 700;
  font-size: 16px;
}

.footer__el:not(:last-child) {
  margin-bottom: 12px;
}

.footer__el._empty {
  visibility: hidden;
}

.footer__link {
  letter-spacing: 0.06em;
  color: #cecece;
  line-height: 143%;
  font-size: 14px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.footer__link:hover {
  opacity: 0.7;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.footer__bottom {
  padding: 22px calc(20px + (32 - 20) * ((100vw - 480px) / (1920 - 480))) 22px calc(20px + (70 - 20) * ((100vw - 480px) / (1920 - 480)));
  background-color: #01544d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.footer__bottom::after {
  position: absolute;
  content: '';
  width: 200%;
  height: 100%;
  left: 100%;
  top: 0;
  background-color: #01544d;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__image {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0.75px solid #d4ad67;
  color: #d4ad67;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.footer__image:not(:last-child) {
  margin-right: 20px;
}

.footer__image:hover {
  background-color: #d4ad67;
  color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.footer__items {
  letter-spacing: 0.06em;
  font-size: 14px;
  color: #ffffff;
  opacity: 0.4;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.footer__items:hover {
  opacity: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media (max-width: 1120px) {
  .footer {
    background: #fff;
  }
  .footer__contact {
    background-color: rgba(1, 98, 90, 0.05);
  }
  .footer__body {
    padding: 40px 20px 20px 20px;
  }
  .footer__list, .footer__list._big, .footer__list:first-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 25%;
            flex: 1 1 25%;
    margin: 0;
  }
  .footer__conteiner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  .footer__title {
    padding: 35px 20px 0px 20px;
  }
  .footer__contact {
    padding: 35px 20px 20px 20px;
  }
  .footer__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 20px;
  }
  .footer__list {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 1 50% !important;
            flex: 0 1 50% !important;
    padding: 0 10px 0 0 !important;
    margin: 0 !important;
    margin-top: 20px !important;
  }
  .footer .footer__el._empty {
    display: none;
  }
}

@media (max-width: 480px) {
  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__list {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__social {
    margin-bottom: 20px;
  }
}
