* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Pragmatica";
  src: local("Pragmatica-Light"), url("../../../fonts/Pragmatica-Light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Pragmatica";
  src: local("Pragmatica-Medium"), url("../../../fonts/Pragmatica-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Pragmatica";
  src: local("Pragmatica-Bold"), url("../../../fonts/Pragmatica-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Pragmatica Extended";
  src: local("PragmaticaExtended-Medium"), url("../../../fonts/PragmaticaExtended-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Pragmatica Extended";
  src: local("PragmaticaExtended-Light"), url("../../../fonts/PragmaticaExtended-Light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Tinos";
  src: local("Tinos"), url("../../../fonts/Tinos.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

body {
  font-family: "Pragmatica";
  font-weight: 400;
  font-size: 18px;
}

._conteiner {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  padding: 0 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: 0.06em;
  background-color: #17625d;
}

.header a {
  color: white;
}

.header__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item {
  margin-left: calc(13px + 63 * (100vw / 1920));
  padding: 10px 0;
}

.header__item ._icon-catalog::before {
  margin-right: 6px;
}

.header__catalog {
  margin: 5px 0;
}

.header__catalog:hover span, .header__catalog:focus span {
  text-decoration: underline;
}

.header__menu {
  margin-left: calc(26px + 100 * (100vw / 1920));
  padding: 10px 0;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__element {
  margin: 5px 0;
  margin-right: calc(15px + 30 * (100vw / 1920));
}

.header__element:last-child {
  margin-right: calc(18px + 40 * (100vw / 1920));
}

.header .basket {
  position: relative;
}

.header .basket-unit {
  content: "";
  position: absolute;
  padding: 1px 4px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 13px;
  font-size: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: -8px;
  right: -17px;
  border-radius: 50%;
  background: #ff8e7d;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.header__link {
  white-space: nowrap;
}

.header__link::before {
  margin-right: 8px;
}

.header__link:hover span, .header__link:focus span {
  text-decoration: underline;
}

.header__burger {
  width: 137px;
  height: 102px;
  background-color: #005D55;
}

.logo {
  padding: 28px 0 26px;
}

.logo ._icon-uniE907::before {
  color: #d4ad67;
  font-size: 45px;
}

.search-form {
  margin-left: calc(15px + 30 * (100vw / 1920));
  position: relative;
  max-width: 333px;
  width: 100%;
  padding: 10px 0;
}

.search-form__input {
  background-color: transparent;
  width: 100%;
  padding: 0 23px 2px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  font-size: 14px;
  font-weight: 300;
}

.search-form__input::-webkit-input-placeholder {
  color: white;
  font-size: 14px;
  font-weight: 300;
}

.search-form__input:-ms-input-placeholder {
  color: white;
  font-size: 14px;
  font-weight: 300;
}

.search-form__input::-ms-input-placeholder {
  color: white;
  font-size: 14px;
  font-weight: 300;
}

.search-form__input::placeholder {
  color: white;
  font-size: 14px;
  font-weight: 300;
}

.search-form__button {
  background-color: transparent;
}

.search-form ._icon-search {
  color: white;
  font-size: 13px;
  font-weight: 300;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.search-form ._icon-search:hover, .search-form ._icon-search:focus {
  opacity: 0.5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.burger-menu {
  position: relative;
  width: 61px;
  height: 22px;
}

.burger-menu ::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.popup {
  position: absolute;
  z-index: 50;
  width: 315px;
  background-color: #fff;
  padding: 26px 24px 29px;
  top: 0px;
  -webkit-box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.2);
  display: none;
  text-align: left;
}

.popup__title {
  font-size: 18px;
  line-height: 95%;
  letter-spacing: 0.01em;
  font-family: "Pragmatica Extended";
  font-weight: 300;
  color: black;
}

.popup__text {
  margin-top: 15px;
  font-size: 14px;
  line-height: 114%;
  color: #4e4e4e;
  letter-spacing: 0.06em;
}

.popup__link {
  margin-top: 26px;
  padding: 11px;
  width: 100%;
  border: 1px solid #006d64;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  color: #006d64;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  font-family: "Roboto";
}

.popup__link:hover {
  background: #006d64;
  color: white;
}

.map {
  position: relative;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.map svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.map .location {
  color: rgba(254, 254, 254, 0.501961);
  opacity: 0;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  z-index: 2;
}
